ul li { vertical-align: middle; }

ul li img { margin-left: 0.4em; margin-right: 0.4em; max-height: 0.9em; max-width: 0.9em; vertical-align: middle; }

ul li span { vertical-align: middle; }

ul.nodot li { list-style: none; margin-left: -20px; }

img.bigcred { max-height: 32px; max-width: 32px; }

img.monkeygod { max-height: 64px; max-width: 64px; }
