/*
Root Formatting
*/
html, body {
	margin: 0;
	padding: 0;
}
html.JS-on, .JS-on body {
	overflow: hidden;
}
html {
	/* background: rgba(154, 205, 50, 1);
	background-color: rgba(154, 205, 50, 1); */
	color: #000000;
	height: 100%;
	margin: 0;
}
body {
	background: rgba(154, 205, 50, 1);
	background-color: rgba(154, 205, 50, 1);
	position: relative;
	height: 100%;
	/* background: #ffffcc;
	background-color: #ffffcc; */
	font-family: "Arial", "sans-serif";
	font-size: 0.9rem;		/* 14.4px */
	/* overflow-y: auto; */
	padding-right: 1rem;
	padding-left: 1rem;		/* 16px */
	margin: 0;
}
body * {
	font-size: 0.9rem;		/* 14.4px */
}
/* .scrollcontainer {

	height: 100%;
} */
/* .contentcontainer {
	height: 100%;
	width: 100%;
} */
abbr {
	cursor: help;
}
a:link {
	color: #0000EE;
	text-decoration: none;
}
a:visited {
	color: #551A8B;
}
a:hover {
	text-decoration: underline;
}
a[href^="http"]:after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
	padding-left: 0.125rem;		/* 2px */
}
img {
	border: 0;
	margin: auto;
	max-width: calc(100vw - 2.125rem);	/* 100vw - 24px */
}
p {
	-webkit-margin-before: 0.9rem;		/* 14.4px */
			margin-block-start: 0.9rem;	/* 14.4px */
	margin-top: 0.8125rem;				/* 13px */
	margin-bottom: 0.8125rem;			/* 13px */
}
q {
	font-style: italic;
}


/*
Control Formatting
*/
html {
	margin: 0 !important;
}
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	/* margin-left: 13px; */
}
#box {
	background-color: #ffffcc;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	margin-left: 0;
	padding-left: 1rem;
	padding-right: 13px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.scrlbarWK #box, .scrlbarFF #box {
	margin-left: 13px;
}


/*
Header Control Formatting
*/
h1, h2, h3 {
	background: #9acd32;
	margin: 0;
	margin-left: -1.5rem;				/* -24px */
	margin-right: -1.5rem;				/* -24px */
	margin-bottom: 1rem;				/* 16px */
	padding: 0.75rem;					/* 12px */
	position: relative;
}
h1 {
	margin: 0;			/* 8px */
	padding-left: 2.75rem;			/* 44px */
	font-size: 1.8rem;
}
h2 {
	margin-top: 2.75rem;			/* 44px */
	padding-left: 2.75rem;			/* 44px */
	font-size: 1.35rem;
}
h3 {
	background: #CBE582;
	font-size: 1rem;				/* 18px (16px + 2px tails) */
	margin-top: 1.875rem;			/* 30px */
	padding: 0.5rem;				/* 8px */
	padding-left: 1.5rem;			/* 24px */
}
#box #oldie {
	background-color: #770000;
	color: #ffffff;
	display: block;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
.JS-on #box #oldie {
	display: none;
	opacity: 0;
	visibility: hidden;
}
#header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; */
	background-color: rgba(154, 205, 50, 1);
	width: 100%;
	-ms-flex: 0 0 57px;
		flex: 0 0 57px;
	font-size: 0.75rem;
	margin: auto;
	border-bottom: 1px solid #ffc;
}
#header a {
	display: block;
	font-size: 0.75rem;
	font-weight: bold;
}
#jstoggle {
	font-size: 0.75rem;
	height: 0.75rem;
	margin: auto;
	margin-right: 20px;
	/* position: absolute; */
	right: 1.5rem;
	top: 0;
    position: absolute;
    text-align: right;
    z-index: 1;
    font-size: 0.75rem;
    height: 0.75rem;
    margin: auto;
    right: 1.5rem;
    top: 22px;
}


/*
Footer Control Formatting
*/
#footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(154, 205, 50, 1);
	width: 100%;
	-ms-flex: 0 0 38px;
		flex: 0 0 38px;
	font-size: 0.75rem;
	margin: auto;
	font-weight: bold;
	border-top: 1px solid #ffc;
}
#footer a {
	font-size: 0.75rem;
	font-weight: bold;
}


/*
List Formatting
*/
ul, ol {
	padding-left: 1.875rem;			/* 30px */
}
li ol, li ul {
	margin-bottom: 0.875rem;		/* 14px */
	margin-top: 0.375rem;			/* 6px */
}
li {
	margin-bottom: 0.625rem;		/* 10px */
}
ol ol {
	list-style: lower-alpha;
}
ol ol li {
	margin-bottom: 0.1875rem;		/* 3px */
}
/* ul li {
	list-style-type: "\27a4";
} */


/*
Table Formatting
*/
table {
	background: #fdfdfd;
	border-collapse: collapse;
	margin: 0.9rem;				/* 14.4px */
}
thead {
	background: #8af;
	font-weight: bold;
}
td, th {
	border: 0.0625rem solid black;	  /* 1px */
	padding: 0.3125rem;					/* 5px */
	vertical-align: top;
}


/*
Code Box Formatting
*/
code {
	background: #ddd;
	color: #000;
	font-weight: bold;
	display: inline-block;
	padding: 0.125rem 0.3125rem;		/* 2px 5px */
}
code.box {
	display: block;
	line-height: 1.25rem;				/* 20px */
	white-space: pre;
}
td > code.box {
	margin: 0;
}
td.thf {
	text-align: center;
}
.tabttl {
	background: #88aaff;
}


/*
Block Formatting
*/
figure {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 0;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	        flex: 0 1 auto;
}
figcaption {
	font-style: italic;
	margin-bottom: 1.75rem; /* 28px */
}


/*
Slideshow Formatting
*/
.slideshow img {
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 1.5s;
	transition: opacity 1.5s;
}
.slideshow img:first-child {
	opacity: 1;
}
/* .slideoff {
	opacity: 0;
}
.slideon {
	opacity: 1;
}
 */

.contentsmenu1 {
	float: left;
	margin: 0;
	margin-right: 4em;
}
.contentsmenu2 {
	float: left;
	margin-top: 0;
}


/*
Flexbox Formatting
*/
.prlflex {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 0;
}
/* Ensuring <figure> scales to fit other content */
.prlflex figure {
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin: 0;
	max-width: 35vw;
	min-width: 12.5rem;		/* 200px */
}
/* Ensuring <img> scales to fit other content */
.prlflex img {
	max-width: 35vw;
	min-width: 12.5rem;		/* 200px */
	position: absolute;
}
.prlflex > menu1, .prlflex > menu2 {
	display: block;
}
/* Ensuring <table> spaces correctly */
.prlflex table {
	margin-top: 0;
}
.prlflex.imgrst img {
	min-width: 0;
}
.prlflex.smltbl figure {
	max-width: 50vw;
}
.prlflex.smltbl img {
	max-width: 50vw;
}


/*
Float Formatting
*/
.bbimgr {
	float: right;
	margin-left: 1em;		/* 16px */
	margin-bottom: 1em;		/* 16px */
}
.bbimgr img {
	max-width: 50vw;
}
.bbimgr figcaption {
	margin-bottom: 0.5em;	/* 8px */
}


/*
Consistency Formatting
*/
.indent {
	margin-left: 1.875rem;	/* 30px */
}
.clear {
	clear: both;
}
.clearf::after, .clearfb::before {
	clear: both;
	content: "";
	display: block;
}
.ovrflwh {
	overflow: hidden;
}


/*
Scrollbar Formatting
*/
/* ::-webkit-scrollbar {
	width: 0.75rem;
}
::-webkit-scrollbar-thumb {
	background: rgba(203, 229, 130, 1);
}
::-webkit-scrollbar-track {
	background: rgba(154, 205, 50, 1);
} */


/*
Javascript-disabled Formatting
*/
#fade, .navhead, #spantest {
	display: none;
	visibility: hidden;
}
#navmenu:after {
	clear: both;
	content: "";
	display: block;
}
H2 .back2top, H3 .back2top {
	bottom: 0;
	font-size: 0.75rem;
	height: calc(0.75rem + 3px);
	margin: auto;
	position: absolute;
	right: 1.5rem;
	top: 0;
}
/*
Javascript-enabled Formatting
*/
.JS-on #contents, .JS-on H2 .back2top, .JS-on H3 .back2top {
	display: none;
	visibility: hidden;
}
.scrlbarFF, .scrlbarFF * {
	scrollbar-color: rgba(203, 229, 130, 1) rgba(154, 205, 50, 1);
	scrollbar-width: auto;
}
.scrlbarWK::-webkit-scrollbar, .scrlbarWK *::-webkit-scrollbar {
	width: 0.75rem;
}
.scrlbarWK::-webkit-scrollbar-thumb, .scrlbarWK *::-webkit-scrollbar-thumb {
	background: rgba(203, 229, 130, 1);
}
.scrlbarWK::-webkit-scrollbar-track, .scrlbarWK *::-webkit-scrollbar-track {
	background: rgba(154, 205, 50, 1);
}
.JS-on #fade {
	background-color: rgba(0,15,0,0.4);
	display:block;
	height: 200%;
	margin-left: -5rem;		/* 80px */
	margin-top: -5rem;		/* 80px */
	opacity: 0;
	position: fixed;
	-webkit-transition: visibility 0.5s ease, opacity 0.5s ease;
	transition: visibility 0.5s ease, opacity 0.5s ease;
	width: 200%;
	z-index: 5;
}
.JS-on #spantest {
	display: block;
	visibility: visible;
	background: rgba(154, 0, 0, 0.75);
	position: fixed;
	color: #fff;
	bottom: 5px;
	left: 29px;
	z-index: 2;
	padding: 5px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}
.JS-on #navmenu {
	background-color: rgba(254, 205, 50, 0);
	height: 100%;
	left: -15.625rem;			/* 250px */
	/* overflow: hidden; */
	position: fixed;
	top: 0;
/* 	-webkit-transform: translateZ(0);
			transform: translateZ(0); */
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
	/* width: 15.625rem; */		/* 250px */
	width: 16.25rem;			/* 260px */
	z-index: 10;
}

.JS-on .navboxrhrz {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 0;
}
.JS-on .navboxrhrz * {
	border: 0;
}

.JS-on .navboxver {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 0;
}

.JS-on .navtab {
	/* background-color: rgba(254, 205, 50, 1); */
	border: 0;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 0.625rem;
	        flex: 0 0 0.625rem;
	height: 100%;
	margin: 0;
}

.JS-on .navhdr {

}

.JS-on .navmnu {

}

.JS-on .navcontbar {
	height: 100%;
	width: 250px;
}
.JS-on .navcontent {
	background-color: rgba(203, 229, 130, 0.75);
	height: calc(100% - 3.125rem);	/* 100% - 50px */
	overflow-x: hidden;
	overflow-y: auto;
}
.JS-on .clsx {
	font-size: 1.75rem;			/* 28px */
	padding-right: 1.375rem;	/* 22px */
	padding-top: 0.375rem;		/* 6px */
	position: absolute;
	right: 0;
	top: 0;
	z-index: 15;
}
.JS-on .clsx:hover {
	text-decoration: none;
}
.JS-on .navhead {
	display: block;
	margin-top: 0;
	visibility: visible;
	width: 100%;
}
.JS-on .navhead h2 {
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	padding-left: 2.25rem;			/* 36px */
	padding-right: 0;
}
.JS-on .contentsmenu1, .JS-on .contentsmenu2 {
	float: none;
	margin: 0;
	margin-right: 0;
}
/* Accordion */
.JS-on .menu {
	padding: 0;
	list-style: none;
	width: 250px;
	max-width: 100%;
	/* margin: 20px auto; */
	/* font-family: 'Century Gothic'; */
	/* box-shadow: 0px 0px 25px #00000070; */
	clear: both;
	display: table;
}
.JS-on .menu .list {
	font-size: 14px;
	border: 0;
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* height: 50px; */
	vertical-align: sub;
	background-color: #CBE582;
	-webkit-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
	clear: both;
	margin: 0;
}

/* .JS-on .menu .list:after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	right: 17px;
	top: 17px;
	padding: 0px 5px;
	color: #fff;
}
.JS-on .menu .list:before {
	content: '\f07b';
	font-family: FontAwesome;
	position: absolute;
	left: 17px;
	top: 17px;
	padding: 0px 5px;
	color: #fff;
} */
.JS-on .menu .list a {
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.JS-on .menu .list > a {
	border-top: 1px solid #ffc;
	padding: 10px 0px 10px 15px;
	font-size: 1rem;
	font-weight: bold;
}
/* .JS-on .menu .list a:hover {
	background-color: #324252;
	transition: 300ms all;
	color: #09fbd2;
} */
.JS-on .menu .list .items {
	background-color: #ffc;
	max-height: 0px;
	overflow: hidden;
	margin: 0;
	-webkit-transition: max-height 500ms ease-in-out;
	transition: max-height 500ms ease-in-out;
	padding-left: 20px;
	padding-right: 10px;
	width: calc(100% - 30px);
	max-width: 100%;
}
.JS-on .menu .list .items li {
	list-style-type: "\27a4";
	margin: 0;
	padding-left: 5px;
}
.JS-on .menu .list .items a:before {
	/* content: '➤ '; */
}
.JS-on .menu .list .items a {
	/* border-top: 1px solid black; */
	/* margin-left: 6px; */
	margin: 5px 0px;
}
/* .JS-on .menu .list .items a:hover {
	background-color: #3f5d79;
	color: #fff;
	transition: 300ms all;
} */
.JS-on .contentsmenu2.menu .list:last-child {
	border-bottom: 1px solid #ffc;
}

/* .JS-on .menu .active:after {
	content: "\f106";
	font-family: FontAwesome;
	position: absolute;
	right: 17px;
	top: 17px;
	padding: 0px 5px;
	color: #fff;
}
.JS-on .menu .active:before {
	content: '\f07c';
	font-family: FontAwesome;
	position: absolute;
	left: 17px;
	top: 17px;
	padding: 0px 5px;
	color: #fff;
} */

.JS-on .menu .active > .items {
	display: block;
	max-height: 250px;
	color: #000;
	/* transition: max-height 500ms linear; */
	clear: both;
	float: left;
}
.JS-on .menu .active > .items li {
	/* padding: 0px;
	border: 0; */
	/* list-style: none; */
	list-style-type: "\27a4";
	margin: 0;
	padding-left: 5px;
	/* list-style-position: inside; */
}
.JS-on .menu .active > .items li:last-child {
	border-color: transparent;
	padding-bottom: 0px;
}
.JS-on .menu .active > .items .active > .items {
	/* background-color: #2f4b67; */
}
/* .JS-on .menu .active > a {
	color: #46efa4;
	text-transform: uppercase;
	font-weight: bold;
} */
.JS-on .menu .active.list {
	background-color: #a9c360;
	-webkit-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}
.JS-on .menu .active .list a {
	/* padding: 17px 0px 17px 45px; */
}


/*
Editing Utility Formatting
*/
blockquote {
	background: #e6e6fa;
	display: table;
	padding: 0.3125rem 1.875rem 0.3125rem 0.625rem;	/* 5px 30px 5px 10px */
}
.missing {
	background: red;
	color: white;
	border: 0.25rem solid black;	/* 4px */
}

/* .invert, .invert * {
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}
.invert img {
	-webkit-filter: invert(0%);
	        filter: invert(0%);
}
.JS-on {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	-webkit-backdrop-filter: invert(100%);
	backdrop-filter: invert(100%);
}
.JS-on body {
	background-color: #6532CD;
	font-size: 1.25rem;
}
.JS-on img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.JS-on #fade {
	-webkit-filter: invert(100%);
	filter: invert(100%);
} */
