/*
Extracted inlines from Advanced Readme are listed below
*/
/* Figures */
.mods-details-figure {
  width: 318px;
  min-height: 551px;
}
.tools-checker-figure {
  width: 475px;
}

/* Figure Captions */
.screenshots-overview-figcap {
  padding-top: 640px;
}
.launchers-hide-figcap {
  padding-top: 95px;
}
.people-overview-figcap {
  padding-top: 640px;
}
.tools-settings-figcap {
  padding-top: 400px;
}
.tools-docs-figcap {
  padding-top: 520px;
}

/* Tables */
.people-tables {
  min-width: 275px;
}
.tools-colors-table {
  max-width: 98%;
}

/* Consistency Formatting */
.people-tables-bar {
  background-color: rgb(203, 229, 130); 
  height: 1.6em; 
  margin-top: 1.7em;
  padding: 4px 0.6em; 
  position: absolute;
  width: 110%;
  z-index:-1;
}
.people-tabpad {
  padding-left: 23px;
}
.international-format-cdebox {
  width: 400px;
}

/* Text Formatting */
.install-components {
  color: rgba(255, 0, 0, 1);
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
