html {
    font-family: "Arial", "sans-serif";
    background: #ffffcc;
    font-size: 0.9em;
}
h1, h2, h3 {
    background: #9acd32;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 1em;
    padding: 0.5em;
}
h1 {
    margin-top: -8px;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
}
h2 {
    margin-top: 2em;
    padding-left: 2em;
}
h3 {
    background: #CBE582;
    font-size: 1.1em;
    margin-top: 1.6em;
    padding: 0.4em;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li ol, li ul {
    margin-top: 0.4em;
}
li {
    margin-bottom: 10px;
}
ol ol {
    list-style: lower-alpha;
}
ol ol li {
    margin-bottom: 0.2em;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
}
td > code.box {margin:0;}
table {
    margin: 1em;
    background: #fdfdfd;
    border-collapse: collapse;
}
thead {
    font-weight: bold;
    background: #8af;
}
img {
    border: 0;
    /* max-width: calc(100vw - 33px); */
}
a[href^="http"]:after {
    padding-left: 2px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
}
q {
    font-style: italic;
}
code {
    display: inline-block;
    padding: 2px 5px;
    background: #ddd;
}
code.box {
    line-height: 20px;
    white-space: pre;
    margin: 1em 0 0 3em;
    display: table;
    padding: 5px 10px;
}
blockquote {
    background: #e6e6fa;
    display: table;
    padding: 5px 30px 5px 10px;
}
figure {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slideshow img {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
}
.slideshow img:first-child {
    opacity: 1;
}
.prlflex {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.prlflex figure {
    margin: 0;
    max-width: 35vw;
    min-width: 200px;
    flex: none;
}
.prlflex img {
    position: absolute;
    /* padding-top: 2em; */
    max-width: 35vw;
    min-width: 200px;
}
.prlflex table {
    margin-top: 0;
}
.prlflex.imgrst img {
    min-width: 0;
}
.prlflex.smltbl figure {
    max-width: 50vw;
}
.prlflex.smltbl img {
    max-width: 50vw;
}
.prtflex {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
figcaption {
    font-style: italic;
    margin-bottom: 2em;
}
.missing {
    background: red;
    color: white;
    border: 0.25em solid black;
}
abbr {
    cursor: help;
}
.indent {
    margin-left:2em;
}
.clear {
    clear: both;
}
.clearf::after, .clearfb::before {
    clear: both;
    content: "";
    display: table;
}
.ovrflwh {
    overflow: hidden;
}
.bbimgr {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
.bbimgr img {
    max-width: 50vw;
}
.bbimgr figcaption {
    margin-bottom: 0.5em;
}



/*
    Pay no attention to the code behind the comments!
*/
/*
@supports(position:sticky) {
    h2, h3 {
        position: sticky;
        index: 10;
    }
    h2, h3 ::before ::after {
        clear: both;
        content: "";
        display: table;
    }
    h2 {
        z-index: 10;
        top: -1px;
    }
    h3 {
        z-index: 5;
        top: 51px;
    }
}
*/
/*
.prlflex .slideshow {
    --vwcalc:calc(50vw - 33px);
    height: 390px;
    max-width: var(--vwcalc);
    max-height: calc(var(--vwcalc) * 0.5078125)
} */
/*
.prlflex .slideshow img {    
	--vwcalc:calc(50vw - 33px);
    max-width: var(--vwcalc);
}
*/
/*
.bbimgl .bbh3 {
    margin-top: 2em;
}
.bbimgl.h3 {
    margin-top: 2em;
}
.bbimgl h3 {
    margin-top: 1.85em;
}
*/
