/*
Root Formatting
*/
html, body {
	margin: 0;
	padding: 0;
}
html.JS-on, .JS-on body {
	overflow: hidden;
}
html {
	color: rgba(0, 0, 0, 1);
	height: 100%;
	margin: 0;
}
body {
	background: rgba(154, 205, 50, 1);
	background-color: rgba(154, 205, 50, 1);
	position: relative;
	height: 100%;
	font-family: "Arial", "sans-serif";
	padding-right: 1rem;		/* 16px */
	padding-left: 1rem;			/* 16px */
	margin: 0;
}
body, body * {
	font-size: 0.9rem;			/* 14.4px */
}
abbr {
	cursor: help;
}
a:link {
	color: rgba(0, 0, 238, 1);
	text-decoration: none;
}
a:visited {
	color: rgba(85, 26, 139, 1);
}
a:hover {
	text-decoration: underline;
}
a[href^="http"]:after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
	padding-left: 0.125rem;				/* 2px */
}
img {
	border: 0;
	margin: auto;
	max-width: 99%;
}
p {
	-webkit-margin-before: 0.9rem;		/* 14.4px */
			margin-block-start: 0.9rem;	/* 14.4px */
	margin-top: 0.8125rem;				/* 13px */
	margin-bottom: 0.8125rem;			/* 13px */
}
q {
	font-style: italic;
}


/*
Control Formatting
*/
html {
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	padding: 0;
}
#box {
	background-color: rgba(255, 255, 204, 1);
	flex: 0 1 auto;
	justify-content: right;
	margin-left: 0;
	padding: 0 1rem;				/* 0 16px */
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.scrlbarWK #box {
	margin-left: 12px;
}
.scrlbarFF #box {
	margin-left: 17px;				/* Keep as px to match scrollbar */
}


/*
Header Control Formatting
*/
h1, h2, h3 {
	background: rgba(154, 205, 50, 1);
	margin: 0;
	margin-left: -1.5rem;			/* -24px */
	margin-right: -1.5rem;			/* -24px */
	margin-bottom: 1rem;			/* 16px */
	padding: 0.75rem;				/* 12px */
	position: relative;
}
h1 {
	background: rgba(154, 205, 50, 0);
	margin: 0;			/* 8px */
	padding-left: 3.375rem;			/* 54px */
	font-size: 1.8125rem;			/* 29px */
}
h2 {
	margin-top: 2.75rem;			/* 44px */
	padding-left: 2.75rem;			/* 44px */
	font-size: 1.375rem;			/* 22px */
}
h3 {
	background: rgba(203, 229, 130, 1);
	font-size: 1rem;				/* 18px (16px + 2px tails) */
	margin-top: 1.875rem;			/* 30px */
	padding: 0.5rem;				/* 8px */
	padding-left: 1.5rem;			/* 24px */
}
#intro {
	margin-top: 1.9375rem;			/* 31px */
}
.JS-on #intro {
	margin-top: 0;
}
#header {
	display: flex;
	background: rgba(154, 205, 50, 1) url("../../../Mopy/bash/images/bash_head.png") 0.75rem 0.75rem/1.875rem 2.0625rem no-repeat; 	/* 12px 12px / 30px 33px */
	width: 100%;
	flex: 0 0 3.5625rem;			/* 57px */
	font-size: 0.75rem;				/* 12px */
	margin: auto;
	border-bottom: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
	z-index: 15;
}
#header a {
	display: block;
	font-size: 0.75rem;				/* 12px */
	font-weight: bold;
}
a#jstoggle {
    position: absolute;
    text-align: right;
    z-index: 1;
    font-size: 0.75rem;				/* 12px */
    height: 0.75rem;				/* 12px */
    margin: auto;
    right: 1.5rem;					/* 24px */
	top: 1.375rem;					/* 22px */
	/* Toggle off */
	display: none;
}


/*
Footer Control Formatting
*/
#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(154, 205, 50, 1);
	width: 100%;
	flex: 0 0 1.5rem;				/* 0 0 24px */
	font-size: 0.75rem;				/* 12px */
	margin: auto;
	font-weight: bold;
	border-top: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
	z-index: 15;
}
#footer a {
	font-size: 0.75rem;				/* 12px */
	font-weight: bold;
	padding-top: 0.0625rem;			/* 1px */
	text-decoration: none;
}
#footer #oldie {
    position: absolute;
    text-align: right;
    z-index: 1;
    font-size: 0.625rem;			/* 10x */
	margin: auto;
	padding-top: 0.0625rem;			/* 1px */
    right: 1.5rem;					/* 24px */

}
.JS-on #footer #oldie {
	display: none;
	opacity: 0;
	visibility: hidden;
}


/*
List Formatting
*/
ul, ol {
	padding-left: 1.875rem;			/* 30px */
}
li ol, li ul {
	margin-bottom: 0.875rem;		/* 14px */
	margin-top: 0.375rem;			/* 6px */
}
li {
	margin-bottom: 0.625rem;		/* 10px */
}
ol ol {
	list-style: lower-alpha;
}
ol ol li {
	margin-bottom: 0.1875rem;		/* 3px */
}


/*
Table Formatting
*/
table {
	background: rgba(253, 253, 253, 1);
	border-collapse: collapse;
	margin: 0.9rem 1rem;			/* 14.4px 16px */
}
thead {
	background: rgba(136, 170, 255, 1);
	font-weight: bold;
}
td, th {
	border: 0.0625rem solid rgba(0, 0, 0, 1);	  /* 1px */
	padding: 0.3125rem;								/* 5px */
	vertical-align: top;
}


/*
Code Box Formatting
*/
code {
	background: rgba(221, 221, 221, 1);
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	display: inline-block;
	padding: 0.125rem 0.3125rem;		/* 2px 5px */
}
code.box {
	line-height: 1.25rem;				/* 20px */
	white-space: pre-wrap;
}
table code.box {
	display: block;
}
td > code.box {
	margin: 0;
}
td.thf {
	text-align: center;
}
.tabttl {
	background: rgba(136, 170, 255, 1);
}


/*
Block Formatting
*/
figure {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
	flex: 0 1 auto;
}
figcaption {
	font-style: italic;
	margin-bottom: 1.75rem;				/* 28px */
}


/*
Slideshow Formatting
*/
.slideshow img {
	opacity: 0;
	position: absolute;
	transition: opacity 1.5s;
}
.slideshow img:first-child {
	opacity: 1;
}
.contentsmenu1 {
	float: left;
	margin: 0;
	margin-right: 3.625rem;		/* 58px */
}
.contentsmenu2 {
	float: left;
	margin-top: 0;
}


/*
Flexbox Formatting
*/
.prlflex {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
}
/* Ensuring <figure> scales to fit other content */
.prlflex figure {
	flex: none;
	margin: 0;
	max-width: 35%;
	min-width: 12.5rem;		/* 200px */
}
.prlflex figure.slideshow {
	margin: 0;
}
/* Ensuring <img> scales to fit other content */
.prlflex img {
	max-width: 35%;
	min-width: 12.5rem;		/* 200px */
	position: absolute;
}
.prlflex > menu1, .prlflex > menu2 {
	display: block;
}
/* Ensuring <table> spaces correctly */
.prlflex table {
	margin-top: 0;
}
.prlflex.imgrst h3 {
	min-width: 0;
}
.prlflex.imgrst img {
	min-width: 0;
}
.prlflex.smltbl figure {
	max-width: 49%;
}
.prlflex.smltbl img {
	max-width: 49%;
}
.prlflex.clearf figure {
	margin-left: 1rem;
}


/*
Float Formatting
*/
.bbimgr {
	float: right;
	max-width: 50%;
	margin-left: 1em;			/* 16px */
	margin-bottom: 1em;			/* 16px */
}
.bbimgr figcaption {
	margin-bottom: 0.5em;		/* 8px */
}


/*
Consistency Formatting
*/
.indent {
	margin-left: 1.875rem;		/* 30px */
}
.clear {
	clear: both;
}
.clearf::after, .clearfb::before {
	clear: both;
	content: "";
	display: block;
}
.ovrflwh {
	overflow: hidden;
}


/*
Javascript-disabled Formatting
*/
#contents {
	margin-top: 1rem;
}
#fade, .navhead, #navtab {
	display: none;
	visibility: hidden;
}
#navmenu:after {
	clear: both;
	content: "";
	display: block;
}
H2 .back2top, H3 .back2top {
	bottom: 0;
	font-size: 0.75rem;			/* 12px */
	height: 0.75rem;			/* 12px */
	margin: auto;
	position: absolute;
	right: 1.5rem;				/* 24px */
	top: 0;
}
/*
Javascript-enabled Formatting
*/
.JS-on #contents, .JS-on H2 .back2top, .JS-on H3 .back2top {
	display: none;
	visibility: hidden;
}
.scrlbarFF, .scrlbarFF * {
	scrollbar-color: rgba(203, 229, 130, 1) rgba(154, 205, 50, 1);
	scrollbar-width: auto;
}
.scrlbarWK::-webkit-scrollbar, .scrlbarWK *::-webkit-scrollbar {
	width: 0.75rem;				/* 12px */
}
.scrlbarWK::-webkit-scrollbar-thumb, .scrlbarWK *::-webkit-scrollbar-thumb {
	background: rgba(203, 229, 130, 1);
}
.scrlbarWK::-webkit-scrollbar-track, .scrlbarWK *::-webkit-scrollbar-track {
	background: rgba(154, 205, 50, 1);
}
.JS-on #fade {
	background-color: rgba(0,15,0,0.4);
	display:block;
	height: 200%;
	margin-left: -5rem;			/* -80px */
	margin-top: -5rem;			/* -80px */
	opacity: 0;
	position: fixed;
	transition: visibility 0.5s ease, opacity 0.5s ease;
	width: 200%;
	z-index: 5;
}
.JS-on #navmenu {
	height: 100%;
	left: -15.625rem;			/* -250px */
	position: fixed;
	top: 0;
	transition: left 0.5s ease;
	width: 16.25rem;			/* 260px */
	z-index: 10;
}

.JS-on .navboxrhrz {
	align-items: flex-start;
	display: -webkit-box;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
}
.JS-on .navboxrhrz * {
	border: 0;
}

.JS-on .navboxver {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
}

.JS-on #navtab {
	background-color: rgba(203, 229, 130, 1);
	border: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
	border-left: 0;
	border-radius: 0 0 0.25rem 0;	/* 4px */
	display: block;
	font-weight: bold;
	font-size: 1rem;				/* 16px */
	height: 5.875rem;				/* 94px */
	margin: 0;
	padding: 1.375rem 0.125rem 0;	/* 22px 2px */
	position: absolute;
	left: 15.625rem;				/* 250px */
	text-align: center;
	top: 3.5rem;					/* 56px */
	vertical-align: middle;
	visibility: visible;
	width: 1.375rem;				/* 22px */
	z-index: 10;
}

.JS-on .navcontbar {
	border-right: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
	height: 100%;
	width: 15.5625rem;			/* 249px */
}
.JS-on .navcontent {
	background-color: rgba(203, 229, 130, 0.75);
	height: calc(100% - 3.4375rem - 1.5625rem);	/* Top: -55px, Bottom: -25px */
	overflow-x: hidden;
	overflow-y: auto;
}
.JS-on .clsx {
	font-size: 1.75rem;			/* 28px */
	padding-right: 1.375rem;	/* 22px */
	padding-top: 0.375rem;		/* 6px */
	position: absolute;
	right: 0;
	top: 0;
	z-index: 15;
}
.JS-on .clsx:hover {
	text-decoration: none;
}
.JS-on .navhead {
	display: block;
	background-color: rgba(154, 205, 50, 1);
	height: 3.5rem;				/* 56px */
	margin-top: 0;
	visibility: visible;
	width: 100%;
}
.JS-on .navhead h2 {
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	padding-left: 2.25rem;		/* 36px */
	padding-right: 0;
}
.JS-on .contentsmenu1, .JS-on .contentsmenu2 {
	float: none;
	margin: 0;
	margin-right: 0;
}
/* Accordion */
.JS-on .menu {
	padding: 0;
	list-style: none;
	width: 15.625rem;			/* 250px */
	max-width: 100%;
	clear: both;
	display: table;
}
.JS-on .menu .list {
	font-size: 0.875rem;		/* 14px */
	border: 0;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	vertical-align: sub;
	background-color: rgba(203, 229, 130, 1);
	transition: background-color 300ms linear;
	clear: both;
	margin: 0;
}
.JS-on .menu .list a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	display: block;
	height: 100%;
	max-width: 100%;
	box-sizing: border-box;
}
.JS-on .menu .list > a {
	border-top: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
	padding: 0.625rem 0 0.625rem 0.9375rem;	/* 10px 0 10px 15px */
	font-size: 1rem;			/* 16px */
	font-weight: bold;
}
.JS-on .menu .list .items {
	background-color: rgba(255, 255, 204, 1);
	max-height: 0;
	overflow: hidden;
	margin: 0;
	transition: max-height 500ms ease-in-out;
	padding-left: 1.25rem;			/* 20px */
	padding-right: 0.625rem;		/* 10px */
	width: calc(100% - 1.875rem);	/* -30px */
	max-width: 100%;
}
.JS-on .menu .list .items li {
	list-style-type: "\27a4";
	margin: 0;
	padding-left: 0.3125rem;	/* 5px */
}
.JS-on .menu .list .items a {
	margin: 0.3125rem 0;		/* 5px */
}
.JS-on .contentsmenu2.menu .list:last-child {
	border-bottom: 0.0625rem solid rgba(255, 255, 204, 1);	/* 1px */
}
.JS-on .menu .active > .items {
	display: block;
	max-height: 15.625rem;		/* 250px */
	color: rgba(0, 0, 0, 1);
	clear: both;
	float: left;
}
.JS-on .menu .active > .items li {
	list-style-type: "\27a4";
	margin: 0;
	padding-left: 0.3125rem;	/* 5px */
}
.JS-on .menu .active > .items li:last-child {
	border-color: transparent;
	padding-bottom: 0;
}
.JS-on .menu .active > .items .active > .items {
}
.JS-on .menu .active.list {
	background-color: rgba(169, 195, 96, 1);
	transition: background-color 300ms linear;
}


/*
Editing Utility Formatting
*/
blockquote {
	background: rgba(230, 230, 250, 1);
	display: table;
	padding: 0.3125rem 1.875rem 0.3125rem 0.625rem;	/* 5px 30px 5px 10px */
}
.missing {
	background: rgba(255, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	border: 0.25rem solid rgba(0, 0, 0, 1);	/* 4px */
}
