/*
Main Overrides
*/
li {
  margin-bottom: 0.2em;
}
.JS-on #fade, .JS-on .navhead, .JS-on #spantest {
	display: none;
	visibility: hidden;
}

/*
Extracted inlines from Version Readme are listed below
*/
/* Text Formatting */
.history-veranc {
  font-style: italic;
  font-weight: bold;
}
.v295_1-gmemng {
  color: rgba(165, 42, 42, 1);
}
