/*
Extracted inlines from Advanced Readme are listed below
*/
/* Figures */
.mods-details-figure {
  width: 19.875rem;					/* 318px */
  min-height: 34.4375rem;			/* 551px */
}
.tools-checker-figure {
  width: 29.6875rem;				/* 475px */
}

/* Figure Captions */
.screenshots-overview-figcap {
  padding-top: 40rem;				/* 640px */
}
.launchers-hide-figcap {
  padding-top: 5.9375rem;			/* 95px */
}
.people-overview-figcap {
  padding-top: 40rem;				/* 640px */
}
.tools-settings-figcap {
  padding-top: 25rem;				/* 640px */
}
.tools-docs-figcap {
  padding-top: 32.5rem;				/* 520px */
}

/* Tables */
.people-tables {
  min-width: 17.1875rem;			/* 30px */
}
.tools-colors-table {
  max-width: 98%;
}

/* Consistency Formatting */
.people-tables-bar {
  background-color: rgb(203, 229, 130); 
  height: 1.6em; 
  margin-top: 1.7em;
  padding: 4px 0.6em; 
  position: absolute;
  width: 110%;
  z-index:-1;
}
.people-tabpad {
  padding-left: 23px;
}
.international-format-cdebox {
  width: 25rem;						/* 400px */
}

/* Text Formatting */
.install-components {
  font-size: 1rem;					/* 16px */
  font-style: italic;
  font-weight: bold;
}
